<html>

 <head>
    <title>olá a meu blog</title>
 </head>

    <body>
     <div>

      <h1> <a href="/"> blog do djangogirls</a>  </h1>

     </div>

     <div>
      <p>publicado: 17.01.2023, 11:14</p>
      <h2> <a href="meu primeiro post"></a> </h2>
      <p>qualquer coisa digitada por aqui</p>
     </div>

     <div>

      <p> publicado: 17.01.2023, 11:46</p>
      <h2> <a href="">meu segundo post </a></h2>
      <p>mais um texto sendo escrito por aqui em baixo</p>

     </div>


    </body>
</html>

